html
  head
    title My Site - #{title}
    style
      include style.css
  body
    block content
            h1 
              .heading  RMHCSD - Ronald McDonald House Charities - San Diego
            h3 #{FDATE}
            br
            h2 Dear #{USERNAME}, Please Complete your daily screening questions using the following link 
              a(href=`https://rmhcsdwellness.safebusinesssolutions.com/answer/add/${ID}/${USERNAME}`)  RMHCSD Screening Portal  
            h2 To Add/Remove Family Member  
              a(href=`https://rmhcsdwellness.safebusinesssolutions.com/add-familymember/${ID}`) click here 
            br
            h2 The health and well-being of our staff and visitors, is of the utmost importance. Thank you in advance for helping maintain our Covid-19 protocol and our safety program.
            br
            h4 Please review your data/wireless plan for any applicable charges and your rights under
                a(href="https://safebusinesssolutions.com/")  Privacy Policy | Safe Business Solutions Thru Customer Service 
            h4 To opt out of our automated system for wellness sceening please  
              a(href=`https://rmhcsdwellness.safebusinesssolutions.com/user/${ID}`) click here 
           
            
            
 
   
